/* insert you css */


body {
	background-color: #FAFAFA;
	font-family: helvetica, sans-serif;
}

marquee {
	font-size: 45px;
	background-color: white;
	overflow: hidden;
}

.card {
	margin-top: 70px;
}

.card-text {
	font-size: 25px;
}

.card-header {
	background-color: white;
}
.card-body {
	background-color: #efefef;
}